body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:970px;
  top:20px;
  width:369px;
  height:764px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u1 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:997px;
  top:164px;
  width:318px;
  height:515px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:515px;
}
#u3 {
  position:absolute;
  left:2px;
  top:250px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:997px;
  top:154px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1115px;
  top:160px;
  width:103px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1002px;
  top:158px;
  width:57px;
  height:26px;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:997px;
  top:128px;
  width:319px;
  height:26px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1252px;
  top:158px;
  width:62px;
  height:26px;
  font-size:36px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-18px;
  width:58px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1008px;
  top:199px;
  width:298px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1290px;
  top:229px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1150px;
  top:221px;
  width:68px;
  height:20px;
  color:#000000;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1016px;
  top:231px;
  width:65px;
  height:20px;
  color:#000000;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1150px;
  top:241px;
  width:130px;
  height:20px;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1102px;
  top:221px;
  width:44px;
  height:41px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1028px;
  top:614px;
  width:262px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:20px;
  width:369px;
  height:764px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u29 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:77px;
  top:164px;
  width:318px;
  height:515px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:515px;
}
#u31 {
  position:absolute;
  left:2px;
  top:250px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:77px;
  top:154px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:195px;
  top:160px;
  width:103px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:82px;
  top:158px;
  width:57px;
  height:26px;
  color:#FFFFFF;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:77px;
  top:128px;
  width:319px;
  height:26px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:332px;
  top:158px;
  width:62px;
  height:26px;
  font-size:36px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-18px;
  width:58px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:89px;
  top:456px;
  width:296px;
  height:140px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:140px;
}
#u43 {
  position:absolute;
  left:2px;
  top:62px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:92px;
  top:304px;
  width:290px;
  height:140px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:140px;
}
#u45 {
  position:absolute;
  left:2px;
  top:62px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:178px;
  top:384px;
  width:118px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:101px;
  top:556px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:210px;
  top:314px;
  width:60px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:500px;
  top:20px;
  width:369px;
  height:764px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u53 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:527px;
  top:164px;
  width:318px;
  height:515px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:515px;
}
#u55 {
  position:absolute;
  left:2px;
  top:250px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:527px;
  top:154px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:645px;
  top:160px;
  width:103px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:532px;
  top:158px;
  width:57px;
  height:26px;
  color:#FFFFFF;
  text-align:left;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u61 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:527px;
  top:128px;
  width:319px;
  height:26px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u63 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:782px;
  top:158px;
  width:62px;
  height:26px;
  font-size:36px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-18px;
  width:58px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:539px;
  top:456px;
  width:296px;
  height:140px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:140px;
}
#u67 {
  position:absolute;
  left:2px;
  top:62px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:542px;
  top:304px;
  width:290px;
  height:140px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:140px;
}
#u69 {
  position:absolute;
  left:2px;
  top:62px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:657px;
  top:302px;
  width:83px;
  height:76px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u71 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:559px;
  top:552px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
