body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:371px;
  top:0px;
  width:369px;
  height:764px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u1 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:398px;
  top:144px;
  width:318px;
  height:515px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:515px;
}
#u3 {
  position:absolute;
  left:2px;
  top:250px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:134px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:494px;
  top:140px;
  width:120px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:398px;
  top:108px;
  width:319px;
  height:26px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:411px;
  top:210px;
  width:290px;
  height:300px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:300px;
}
#u11 {
  position:absolute;
  left:2px;
  top:142px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:471px;
  top:187px;
  width:160px;
  height:20px;
  color:#000000;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:426px;
  top:590px;
  width:262px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:408px;
  top:138px;
  width:57px;
  height:26px;
  color:#FFFFFF;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:426px;
  top:530px;
  width:262px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:178px;
  top:204px;
  width:74px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:32px;
  top:164px;
  width:320px;
  height:216px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u23 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:146px;
  top:298px;
  width:128px;
  height:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:174px;
  top:180px;
  width:55px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:32px;
  top:211px;
  width:320px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u29 {
  position:absolute;
  left:66px;
  top:339px;
  width:120px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:216px;
  top:339px;
  width:120px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:159px;
  top:228px;
  width:60px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
