body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:579px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:26px;
  width:369px;
  height:874px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:874px;
}
#u1 {
  position:absolute;
  left:2px;
  top:429px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:237px;
  top:205px;
  width:320px;
  height:575px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:575px;
}
#u3 {
  position:absolute;
  left:2px;
  top:280px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:237px;
  top:169px;
  width:318px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:239px;
  top:205px;
  width:316px;
  height:75px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:75px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:311px;
  top:223px;
  width:135px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:313px;
  top:246px;
  width:115px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:237px;
  top:292px;
  width:318px;
  height:426px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:426px;
}
#u13 {
  position:absolute;
  left:2px;
  top:205px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:247px;
  top:505px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:276px;
  top:509px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:538px;
  top:507px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:246px;
  top:533px;
  width:319px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u21 {
  position:absolute;
  left:409px;
  top:553px;
  width:119px;
  height:16px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:249px;
  top:550px;
  width:24px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:279px;
  top:554px;
  width:53px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:540px;
  top:550px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:416px;
  top:554px;
  width:119px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:239px;
  top:728px;
  width:317px;
  height:39px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:39px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:249px;
  top:593px;
  width:24px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:278px;
  top:597px;
  width:53px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:432px;
  top:603px;
  width:119px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:244px;
  top:579px;
  width:319px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u40 {
  position:absolute;
  left:245px;
  top:210px;
  width:59px;
  height:55px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:243px;
  top:308px;
  width:24px;
  height:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:273px;
  top:312px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:529px;
  top:310px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:237px;
  top:340px;
  width:319px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u49 {
  position:absolute;
  left:244px;
  top:355px;
  width:24px;
  height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:274px;
  top:359px;
  width:66px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:530px;
  top:357px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:238px;
  top:387px;
  width:319px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u56 {
  position:absolute;
  left:246px;
  top:401px;
  width:24px;
  height:24px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:276px;
  top:405px;
  width:53px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:532px;
  top:403px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:240px;
  top:433px;
  width:319px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u63 {
  position:absolute;
  left:246px;
  top:453px;
  width:24px;
  height:24px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:277px;
  top:457px;
  width:66px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:538px;
  top:455px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:246px;
  top:485px;
  width:319px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
