body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:14px;
  width:369px;
  height:764px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u1 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:147px;
  top:158px;
  width:318px;
  height:515px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:515px;
}
#u3 {
  position:absolute;
  left:2px;
  top:250px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:147px;
  top:148px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:281px;
  top:154px;
  width:69px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:152px;
  top:152px;
  width:57px;
  height:26px;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:147px;
  top:122px;
  width:319px;
  height:26px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:402px;
  top:152px;
  width:62px;
  height:26px;
  font-size:36px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-18px;
  width:58px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:165px;
  top:326px;
  width:284px;
  height:36px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u15 {
  position:absolute;
  left:165px;
  top:427px;
  width:180px;
  height:36px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u16 {
  position:absolute;
  left:361px;
  top:426px;
  width:88px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:165px;
  top:376px;
  width:284px;
  height:36px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u19 {
  position:absolute;
  left:278px;
  top:244px;
  width:66px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:270px;
  top:204px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:172px;
  top:494px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:225px;
  top:626px;
  width:200px;
  height:17px;
  font-size:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:230px;
  top:649px;
  width:187px;
  height:14px;
  font-size:11px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:661px;
  top:14px;
  width:369px;
  height:764px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u30 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:688px;
  top:158px;
  width:318px;
  height:515px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:515px;
}
#u32 {
  position:absolute;
  left:2px;
  top:250px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:688px;
  top:148px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:831px;
  top:154px;
  width:69px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:693px;
  top:152px;
  width:57px;
  height:26px;
  color:#FFFFFF;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:688px;
  top:122px;
  width:319px;
  height:26px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:943px;
  top:152px;
  width:62px;
  height:26px;
  font-size:36px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-18px;
  width:58px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:766px;
  top:626px;
  width:200px;
  height:17px;
  font-size:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:771px;
  top:649px;
  width:187px;
  height:14px;
  font-size:11px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:812px;
  top:294px;
  width:60px;
  height:60px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:804px;
  top:359px;
  width:97px;
  height:17px;
  font-size:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:713px;
  top:510px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
